.card {
    background: #fff;
    border-radius: 2px;
    border:black;
    border-color: black;
    height: 400px;
    margin: 10px;
    margin-bottom: 30px;
    /* position: relative; */
    width: 360px;
    box-shadow: 0 6px 9px #999, 0 6px 9px #999;
    text-align: left;
  }
  
  .img-container {
    height: 200px;
    width: auto;
    overflow: hidden;
    text-align: center;
    align-content: center;
    background: black;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }