.jumbotronStyle {

    background-color: rgb(255, 255, 255) !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;

}

.jumbotron {

    padding: 10px !important;
}

h1, form {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 15px !important;
}

button, input, optgroup, select, textarea {
    margin-bottom: 15px !important;
}

button {
    background-color: black !important;
}

button:hover {

    background: #535353 !important;
    transition: all 0.35s ease-in-out !important;
    color: white;
  
  }

  .textAlign {

    text-align: center !important;
    align-content: center !important;
  }

  @media screen and (min-width:287px) {

    .regularInput{
  
      width: 275px !important;
  
    }
  }
  
  
  @media screen and (max-width:286px) {
  
    .responsiveInput{
  
      width: 240px !important;
  
    }
  }